<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link href="lib/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="lib/graph.css" rel="stylesheet" type="text/css"/>
        <link href="lib/style.css" rel="stylesheet" type="text/css"/>
        <link href="lib/style.css" rel="stylesheet" type="text/css"/>
        <link href="lib/960.css" rel="stylesheet" type="text/css"/>
    </head>
    <body class="noselect" style="background:#dedfdd;">

        <div id="content" class="content">
            <div id="image">
                <img src="image.png" style="width:580px;"/>
                <div style="margin:20px; margin-left:30px;"></div>
            </div>	
            
        {{#each graphics}}
        <div id="div_{{id}}" style="padding: 10px 28px 10px 28px; border: lightgreen; border-style: solid;">
                
                <input type="text"
                       id="{{id}}"
                       name="name"
                       placeholder="..."
                       size="44">
                <input type="submit" id="submit_{{id}}" value="">
            </div>
        {{/each}}        
            
        </div>

        <script type="application/javascript" src="lib/layout.js"></script>
        <script type="application/javascript" src="lib/promise-0.1.1.js"></script>
        <script type="application/javascript" src="lib/keys.js"></script>
        <script type="text/javascript" src="lib/jquery.js"></script>
        <script type="text/javascript" src="lib/underscore.js"></script>
        <script type="text/javascript" src="lib/d3.js"></script>
        <script type="text/javascript" src="lib/backbone.js"></script>
        <script type="text/javascript" src="lib/handlebars-v1.3.0.js"></script>
        <script type="text/javascript" src="lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="lib/d3-gauge-plus.js"></script>
        <script type="text/javascript" src="lib/require.js" data-main="js/index.js"></script>
      <!--  <script type="text/javascript" src="lib/gamepadtest.js"></script> -->
    </body>
</html>
